@import url("bar_chart.css");
@import url("scatterplot_graph.css");
@import url("heat_map.css");

/* Variables */

body {
    --black: #17252A;
    --dark_green: #2B7A78;
    --green: #3AAFA9;
    --grey: #DEF2F1;
}

header {
    position: fixed;
    top: 0;
    background: rgb(43,122,120);
    background: linear-gradient(90deg, rgba(43,122,120,1) 0%, rgba(58,175,169,1) 100%);
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.header_link {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.header_link:hover {
    opacity: 0.8;
}

#d3_section {
    position: fixed;
    bottom: 60px;
    width: 100vw;
    height: 40px;
    text-align: center;
}

#d3_title {
    height: 100%;
}
 h6 {
    position: fixed;
    bottom: 0;
    font-size: 14px;
    background-image: linear-gradient(90deg, rgba(249,158,63,1) 0%, rgba(192,86,80,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
 }